# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase/eggcellent-playground/hosting/assets/index-B3CvUVYZ.js
.firebase/eggcellent-playground/hosting/assets/index-D5-EOHxx.css
.firebase/eggcellent-playground/hosting/image.png
.firebase/eggcellent-playground/hosting/index.html
.firebase/eggcellent-playground/hosting/vite.svg
.firebase/hosting.LmZpcmViYXNlL2VnZ2NlbGxlbnQtcGxheWdyb3VuZC9ob3N0aW5n.cache
.firebase/eggcellent-playground/hosting/assets/index-CygG0kbk.js
.firebase/eggcellent-playground/hosting/assets/index-CZSC4UI6.css
.firebase/eggcellent-playground/hosting/assets/index-D6NSJQgc.css
.firebase/eggcellent-playground/hosting/assets/index-CjSWLWdJ.css
.firebase/eggcellent-playground/hosting/assets/index-BYzA0fz8.js
.firebase/eggcellent-playground/hosting/assets/index-BM7QuLj2.js
